<extend name="Base/common"/>
<block name="content">
    <div class="container-fluid" id="content">
        <volist name="list" id="vo">
        <div class="row noticeList">
            <a href="{:U('Notice/detail?id='.$vo['id'])}">
            <div class="col-xs-2">
                <img class="noticeImg" src="{$vo.cover_id|get_cover='path'}" />
            </div>
            <div class="col-xs-10">
                <p class="title">{$vo.title}</p>
                <p class="intro">{$vo.description}</p>
                <p class="info">浏览: {$vo.view} <span class="pull-right">{$vo.create_time|time_format}</span> </p>
            </div>
            </a>
        </volist>
        </div>
    <div class="text-center"><button class="btn btn-info ajax-get-self">获取更多</button></div>
</block>

<block name="script">
    <script type="application/javascript">
        var p = {:I('p',1)};//定义一个p参数用I方法获取
        $(function(){
            $('.ajax-get-self').click(function(){
                $.get("{:U('Notice/index')}",{'p':p+1},function(data){
                    if(data.error==1){
                        var list=data.data;
//                        console.log(list);
                        var html = '';
                        $(list).each(function (i,e){
                            html +='<div class="row noticeList">\
                                <a href="Notice/detail?id=+e.id+">\
                                <div class="col-xs-2">\
                                <img class="noticeImg" src="'+e.path+'" />\
                                </div>\
                                <div class="col-xs-10">\
                                <p class="title">'+e.title+'</p>\
                                <p class="intro">'+e.description+'</p>\
                                <p class="info">浏览: '+e.view+' <span class="pull-right">'+e.add_time+'</span> </p>\
                                </div>\
                                </a>';
                        } );
                        p+=1;
                        $('#content').append(html);
                    }else{
                        $('.ajax-get-self').html("没有跟多数据了！！").removeClass('ajax-get-self')
                    }
                })
            })
        });
    </script>
</block>
