<extend name="Base/common"/>
<block name="content">
    <div class="container-fluid" id="content">
        <Volist name="list" id="vo">
        <div class="row noticeList">
            <a href="{:U('Activity/detail?id='.$vo['id'])}">
                <div class="col-xs-2">
                    <img class="noticeImg" src="{$vo.cover_id|get_cover='path'}" />
                </div>
                <div class="col-xs-10">
                    <p class="title">{$vo.title}</p>
                    <p class="intro">{$vo.description}</p>
                    <p class="info">浏览: {$vo.view} <span class="pull-right">{$vo.create_time|time_format}</span> </p>
                </div>
            </a>
        </div>
        </Volist>
    </div>
    <div class="text-center"><button class="btn btn-info ajax-get">获取更多</button></div>
</block>
<block name="script">
    <script>
        var p = 1;
        $(function () {
           $('.ajax-get').click(function(){
               $.get('{:U(Service/index)}',{'p':p+1},function(data){
                   if(data){
                       var html='';
                       var list = data.data;
                       $(list).each(function(i,e){
                           html = '<a href="'+e.url+'">\
                       <div class="col-xs-2">\
                               <img class="noticeImg" src="'+e.path+'" />\
                               </div>\
                               <div class="col-xs-10">\
                               <p class="title">'+e.title+'</p>\
                       <p class="intro">'+e.description+'</p>\
                       <p class="info">浏览: '+e.view+' <span class="pull-right">'+e.add_time+'</span> </p>\
                       </div>\
                       </a>\
                       </div>';
                       });
                       $('#content').append(html);
                       p = p+1;
                   }else{
                       $('.ajax-get').html('没有更多数据了！').removeClass('ajax-get');
                   }
               })
           })
        });
    </script>
</block>
